body {
    background-color: #222831;
    padding: 0px;
    margin: 0px;
}
#home-page {
    background-color: #76ABAE;
    /* margin-top: 25vh; */
    margin: auto;
    margin-top: 25vh;
    padding-left: 45px;
    padding-right: 34px;
    height: 30vh;
    width: 30vw;
    padding-top: 40px;
    text-align: center;
}
#login-home-page {
    background-color: #76ABAE;
    margin: auto;
    margin-top: 25vh;
    padding-left: 45px;
    padding-right: 34px;
    height: 30vh;    
    padding-top: 40px;
    text-align: center;
}
#register-home-page {
    background-color: #76ABAE;
    margin: auto;
    margin-top: 25vh;
    padding-left: 45px;
    padding-right: 34px;
    height: 43vh;    
    padding-top: 40px;
    text-align: center;
}
#header {
    background-color: tomato;
    height: 8vh;
    width: 101vw;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
}
#logout_link{
    text-decoration: none;
    color: white;

}
#left-sidebar{
    margin-top: 50px;
    width: 28vh;
    height: 30vh;
    display: inline-block;
}
#left-sidebar table tr{
    background-color: #F9B208;
    color: white;
    font-size: tomato;
}
#left-sidebar table tr:hover{
    background-color: #FC5404;
    font-size: 20px;
}
#logout_link{
    text-decoration: none;
    color: white;
}
#logout_link:hover{
    background-color: #FC5404;
    color: #222831;
}
#link{
    color: white;
}

